:root{
    --primary:#b11226;
    --secondary:#ff4d6d;
    --white:#ffffff;
    --dark:#111111;
    --text:#666666;
    --bg:#fff5f7;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#fff5f7,#ffe5ea);
    padding:20px;
    overflow:hidden;
    position:relative;
}

/* BACKGROUND */

.blur{
    position:absolute;
    border-radius:50%;
    filter:blur(120px);
    z-index:-1;
}

.blur1{
    width:300px;
    height:300px;
    background:rgba(255,77,109,0.25);
    top:-100px;
    left:-100px;
}

.blur2{
    width:350px;
    height:350px;
    background:rgba(177,18,38,0.18);
    bottom:-120px;
    right:-120px;
}

/* LOGIN CARD */

.login-card{
    width:100%;
    max-width:430px;
    background:rgba(255,255,255,0.9);
    backdrop-filter:blur(15px);
    border-radius:30px;
    padding:45px 35px;
    box-shadow:0 20px 40px rgba(0,0,0,0.08);
}

/* LOGO */

.logo{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin-bottom:25px;
}

.logo i{
    font-size:28px;
    color:var(--primary);
}

.logo h1{
    font-size:30px;
    font-weight:700;
}

.logo span{
    color:var(--primary);
}

/* TITLE */

h2{
    text-align:center;
    font-size:34px;
    margin-bottom:10px;
    color:var(--dark);
}

.subtitle{
    text-align:center;
    color:var(--text);
    margin-bottom:35px;
    line-height:1.6;
}

/* FORM */

form{
    width:100%;
}

/* INPUT */

.input-box{
    position:relative;
    margin-bottom:20px;
}

.input-box i{
    position:absolute;
    top:50%;
    left:18px;
    transform:translateY(-50%);
    color:var(--primary);
}

.input-box input{
    width:100%;
    height:58px;
    border:none;
    outline:none;
    border-radius:16px;
    background:#f5f5f5;
    padding:0 20px 0 50px;
    font-size:15px;
    border:2px solid transparent;
    transition:0.3s;
}

.input-box input:focus{
    border-color:#ffd1d8;
    background:white;
}

/* BUTTON */

button{
    width:100%;
    height:58px;
    border:none;
    border-radius:16px;
    background:linear-gradient(
        135deg,
        var(--primary),
        var(--secondary)
    );
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    margin-top:10px;
    transition:0.3s;
}

button:hover{
    transform:translateY(-3px);
}

/* BOTTOM */

.bottom{
    text-align:center;
    margin-top:25px;
    color:var(--text);
}

.bottom a{
    color:var(--primary);
    text-decoration:none;
    font-weight:600;
}

.bottom a:hover{
    text-decoration:underline;
}